# Ignore PyCharm project files
.idea/

# Ignore Python cache folders
__pycache__/
*/__pycache__/

# Ignore compiled Python files
*.pyc

# Ignore Mac and system files (optional)
.DS_Store

# Ignore virtual environments (if any)
venv/
env/

